body {
	background-color: #ddddff;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.page_header {
	background-color: #000066;
	color: white;
	padding: 6pt;
}

h1 {
	font-size: 16pt;
	margin: 0;
}

.page_body {
	padding: 6pt;
}

h2 {
	color: white;
}

.toolbar {
	background-color: #ddc;
	color: black;
	padding: 3pt;
}

.table_listitem {
	background-color: #b3a5f8;
	color: black;
}

.template {
	display: none;
}

.floater {
	display: inline-block;
}

#dimmer {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1 !important;
	background-color: black;
	filter: alpha(opacity=75);
	-khtml-opacity: 0.75;
	-moz-opacity: 0.75;
	opacity: 0.75;
}

.dialog_wrapper {
	display: none;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 5;
}
.dialog {
	width: 400px;
	height: 400px;
	margin: 200px auto 0 auto;
	padding; 40px;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #333;
}

#ajaxErrorInd {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	color: #000;
	font-weight: bold;
	z-index: 1;
	padding: 4px 12px;
	display: none;
}

.card_icon {
	width: 16px;
	height: 16px;
}

.card_icon {
	vertical-align: middle;
}
.infection_card {
	display: inline-block;
	background-color: #151;
	color: #ffc;
	padding: 2px;
	font-weight: bold;
}

.button_container button {
	width: 100%;
	/*min-width: 200px;*/
	min-height: 40px;
}
.page_body {
	max-width: 400px;
}

#player_count_cb, #expansion_cb, #level_cb {
	width: 100%;
}

.page_header img.role_icon {
	float: left;
	margin-top: -4px;
	width: 24px;
	height: 33px;
}

img.role_icon {
	width: 18px;
	height: 25px;
}

.epidemic_card .card_name {
	font-weight: bold;
	font-style: italic;
}

.epidemic_event em {
	font-weight: bold;
}

#forecast_page .reset_btn_container {
	display: none;
}

.game_state_summary_pane {
	float: right;
}

tr.my_result {
	background-color: #ffb;
}
tr.my_result .place_col, tr.my_result .score_col {
	font-weight: bold;
}
.place_col, .score_col {
	text-align: center;
	min-width: 50px;
}

.shuffle_name_container {
	float: left;
	border-left: 3px solid green;
	border-right: 3px solid green;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 10px;
}
